:root {
  --main-color: #22e7f5;
  --secondary-color: #464444;
  --error-color: #de8282;
  --font-color: #e0e0e0;
}

* {
  box-sizing: border-box;
  font-size: medium;
  text-align: center;
}

input, button, td label {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

label[for="next-purchase"] {
  font-size: large;
  /* font-weight: bold; */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Ubuntu, sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,9,121,1) 35%, rgba(0,212,255,1) 100%);
  color: #e0e0e0;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: auto;
}

body {
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  gap: 20px;
}

header {
  margin: 10vh auto 0;
}

h1 {
  color: var(--main-color);
  font-size: 2.5em;
  font-weight: bolder;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form {
  margin: 0 auto 10vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  display: flex;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  justify-content: center;
  text-align: center;
  text-emphasis: strong;
}

input {
  background-color: var(--secondary-color);
  padding: 10px;
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--font-color);
}

button {
  display: flex;
  padding: 10px 20px;
  background-color: transparent;
  border: 3px solid var(--main-color);
  border-radius: 5px;
  color: var(--main-color);
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px 0px 0px;
  width: 100%;
  gap: 20px;
}

.input-group input {
  width: 100%;
}

button:active {
  box-shadow: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border: none;
}

td input, td label, td button {
  width: 100%;
  height: 45px;
}

td input, td label {
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--font-color);
}

.delete-row {
  width: 40px;
}

#add-row {
  width: 200px;
}

button:hover {
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

#calculate {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--font-color);
  text-shadow: rgb(22, 103, 109, 0.6) 1px 0px 20px, rgb(22, 103, 109, 0.6) -1px 0px 20px, rgb(22, 103, 109, 0.6) 0px -1px 20px, rgb(22, 103, 109, 0.6) 0px 1px 20px;
  font-size: 18px;
  cursor: pointer;
}

.error-border {
  border: 3px solid #de8282;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}